
<h1>Game goes here!</h1>

<iframe src=<%= request.protocol + request.host_with_port + games_path %> id='gameframe' height='600' width='620'>
	This is an iframe. sorry.
</iframe>
<script type='text/javascript'>
	//Prevent the game from scrolling main page
    if (frames['gameframe']!=undefined)
      frames['gameframe'].focus(); // Works in all browser, except Firefox
    else
      document.getElementById('gameframe').focus();  // Works in Firefox
</script>
