<% content_for :head do %>
  <!--Load up them libraries-->
  <script type="text/javascript" src="http://cdn.craftycomponents.com/crafty-release.js"></script>
  <!-- Include game javascript file -->
  <%= javascript_include_tag "xengine" %>
  <%= javascript_include_tag "swarmgame" %>
<% end %>
<div id="game_box">
  <h1><%= @game.name %></h1>
  <div id="cr-stage">
    <script type="text/javascript">
      RunGame();
    </script>
  </div>
	Green: <input type="text" id="greenstruction" value="this.facing += 0.05;"> [ Hit Enter to assign to Green Drones ] <br>
	Red: <input type="text" id="redstruction" value="this.facing -= 0.05;"> [ Hit PgDn to assign to Red Drones ]
</div>
