<% content_for :head do %>
  <!--Load up them libraries-->
  <script type="text/javascript" src="http://cdn.craftycomponents.com/crafty-release.js"></script>
  <!-- Include game javascript file -->
  <%= javascript_include_tag "pingponggame" %> 
<% end %>
<div id="game_box">
  <h1><%= @game.name %></h1>
  <div id="cr-stage">
    <script type="text/javascript">
      RunGame();
    </script>
	<input type="text" id="greenstruction" value="this.facing += 0.05;">
  </div>
</div>
