.docstring {
	color: #fff;
}

.code
{
	background-color:	rgba(50,150,200,.9);
	border: 1px solid #00ccff;
	box-shadow: 0px 0px 25px rgb(20, 128, 216);
	border-radius: 5px;
	list-style-type: none;
	margin: 0px;
	padding: 10px;
	overflow: auto;
	font-family: 	"Consolas", "Courier New", Courier, mono;
	font-size: 		16px;
	width: ;
	height: ;
}

.code .action {
	color: #f88;
	font-weight: bold;
}

.code .value {
	color: #f8f;
	font-weight: bold;
}
.code h1 {
	color: #66ff33;
	font-size: 20px;
	line-height: 1.2em;
}

.code li
{
	color: #ddffdd;
	/*line-height: 0px; /* to remove white border issue */
	font-size: 14px;
	white-space: pre;
}

.code li:empty { display: none; }