// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
{
	
}

#priority_queue 
{
	margin: 10px;
	padding: 10px;
	border: 4px solid black;
	border-radius: 10px;
	background-color: #888;
}

.gui_unit
{
	padding: 2px;
	margin: 2px;
}

input.condition
{
	margin-top: 10px;
}

input.condition:focus{
	color: #000;
	background-color: #aaf;
}

.action
{
	margin-top: 10px;
}

input.action:focus{
	color: #000;
	background-color: #faa;
}

#game_ui
{
	margin: 10px;
	padding: 10px;
}

#game_box
{
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	margin: 0 auto;
}


#cr-stage
{
	align: center;
	margin: 0 auto;
}
