// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#game_box
{
	text-align: center;
	margin: 0 auto;
}

#game_ui
{
	margin: 10px;
	padding: 10px;
	border: 2px solid;
	border-radius: 10px;
}
#cr-stage
{
	align: center;
	margin: 0 auto;
}
