
<h2> About Swarm Combat </h2>

<div id = "documentation" class="code" style="max-width:700px">

<p>	
	Welcome to Swarm Combat! This project is the attempt of two passionate game designers to innovate in the web gaming space with a unqiue, strategy-driven game.
</p>
<p>
	Swarm Combat encourages players to plan ahead, think logically, and anticipate possible strategies of their opponents. This is in contrast with action-based games, which place an emphasis on reflexes, hand-eye coordination or timing puzzles. While we love games of all types, we kind of suck at those things ;).
</p>
<h1>Gameplay</h1>
<p>
	In Swarm Combat, you get to design a battle strategy for your 'drones,' which then duke it out in a battle field against another player. 
</p>
<p>
	You do this by using a strategy-building GUI (that starts to spookily resemble programming) to list out what actions to take under different circumstances.
</p>
<p>
	Use concepts from Real-Time Strategy games to determine optimal tactics for attacking and surviving. For example, pulling back weakened units and bringing them back to fight when they aren't being targetted. Don't forget to check out the drone shield!
</p>
<p>
	Don't worry about not knowing how to play, <%= link_to "Just jump right in!", root_url %> We're sure you'll figure it out.
<p>
<h1>Coming Soon</h1>
<p>
	Swarm Combat is currently in the running for <a href="https://gameon.mozilla.org/en-US/entries/swarm-combat/">The Mozilla Game On Contest</a>. We have to freeze our code for the duration of judging, but here are the next steps that we've laid the groundwork for!
</p>
<ul>
	<li> Improved test bench so you can try your strategies out! </li>
	<li> More special drone abilities and environment features to add greater gameplay depth </li>
	<li> Saving and loading code from the database and other games</li>
	<li> An interactive listing of strategies used by other players, for more collaborative gameplay</li>
	<li> Ranking and ladder system </li>
	<li> Play versus the current top strategy </li>
	<li> Log-in with github/google/twitter for improved social gaming interactions</li>
	<li> Full-blown text-based coding system - for those of you crazy enough to not want/need the GUI! </li>
	<li> Super-hacker mode, exposing our pathing algorithms, and the systems behind the Attack, Retreat and Regroup methods </li>
	<li> Fixing the several bugs that you, our wonderful players, will tell us all about :)</li>
</ul>
<h1>Send us feedback</h1>
<p>
	We would love to know what you like and don't like about Swarm Combat, and what you want to see.
	<a href="mailto:swarmcombat@gmail.com?subject=Swarm%20Combat%20Feedback">Email Us!</a>
</p>


</div>