<% content_for :head do %>
	<%= javascript_include_tag "api_docs" %>

<% end %>

<h2>API Documentation</h2>
<p class="code">
	For additional details about the game, visit our <%= link_to "About", root_url+"about"%> page
</p>
<ol id='documentation' class='code'>
<script>
	buildAPIDocs();
</script>
</table>